<app-header-component></app-header-component>
<div>
  <h2>
    Welcome to {{ title }}!
  </h2>
  <!-- <app-adoption-dashboard></app-adoption-dashboard>-->
  <app-adoption-dashboard></app-adoption-dashboard>
</div>

<!-- <header>
  <div class="header-container">
      <div class="header-center-vertically">
          <h1>Adopt A Pet</h1>
      </div>
      <div class="header-center-vertically">
          <a href="https://www.humanesociety.org/">Humane Society</a>
      </div>
  </div>
</header>
<div>
<h2>
  Welcome to My Form!
</h2>
<div>
  <h3>The Form</h3>
  <form action="" method="GET">
      <div class='container'>
          <div class='inline'>
              <div>First Name:</div>
              <input type="text" id="first_name" name="first_name"/>
          </div>
          <div class='inline'>
              <div>Last Name:</div>
              <input type="text" id="last_name" name="last_name"/>
          </div>
      </div>
      <div class='container'>
          <div class='inline'>
              <div>Email:</div>
              <input type="text" id="email" name="email"/>
          </div>
          <div class='inline'>
              <div>Phone #:</div>
              <input type="text" id="phone" name="phone"/>
          </div>
          
      </div>
      <input type="submit" value="Submit" />
  </form>
</div>

</div> -->

