<div>
    <h3>Please fill out the form below</h3>
    <form action="" method="GET">
        <div class='container' style="margin-top: 30px;">
            <app-form-text-box myDisplay="First Name" myName="first_name"></app-form-text-box>
            <app-form-text-box myDisplay="Last Name" myName="last_name"></app-form-text-box>
        </div>
        <div class='container'>
            <app-form-text-box myDisplay="Email" myName="email"></app-form-text-box>
            <app-form-text-box myDisplay="Phone #" myName="phone_number"></app-form-text-box>
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>
